# Libraries
*.lvlibp
*.llb
!support.llb
!NI Modbus.llb

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe

# Metadata
*.aliases
*.lvlps
.cache/

#Submodules
HAL-Devices/
grpc-labview/